a:link {
	text-decoration: none;
}

div#contain {
	display: block;
	background-color: #222222;
	
}
/*底部页面q容器的footer样式*/
div#contain div#footer {
	display: block;
	height: 180px;
	border: 0px;
}

div#contain div#footer ul {
	list-style: none;
	margin-left: 70px;
	padding: 0px;
}

div#contain div#footer ul li {
	float: left;
	margin-right: 45px;
	padding-top: 10px;
	border-bottom: 1px solid black;
	width: 250px;
	height: 30px;
	position: relative;
}

div#contain div#footer ul li ul {
	position: absolute;
	top: 40px;
	list-style: none;
	margin: 0px auto;
	padding: 0px;
}

div#contain div#footer ul li ul li {
	font-size: 13px;
	margin: 0px;
	padding-top: 5px;
	border: 0px;
	width: 160px;
	height: 20px;
}

div#contain div#footer ul li ul li a {
	color: #eeeeee;
}

div#contain div#footer ul li ul li a:hover {
	color: #CCCCCC;
}
/*底部页面q容器的footer1样式*/
div#contain div#footer1 {
	margin: 10px 0px 0px 70px;
	height: 25px;
	border: 0px;
	text-align: center;
}

div#contain div#footer1 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div#contain div#footer1 ul li {
	float: left;
	margin-right: 3px;
	padding-right: 3px;
	border-right: 1px solid #ffffff;
	height: 15px;
	line-height: 15px;
}

div#contain div#footer1 ul li a {
	color: #999999;
}

div#contain div#footer1 ul li a:hover {
	color: #CCCCCC;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#header {
	height: 50px;
	background-color: #ff9900;
}

div#header ul {
	list-style: none;
	margin-left: 90px;
	padding: 1px;
	padding: 0px;
	border-left: 1px;
	
}

div#header ul li {
	float: left;
	padding-top: 13px;
	height: 30px;
	font-size: 17px;
}

div#header ul li a {
	color: #ffffff;
	padding-left:40px;
}